<% content_for(:javascripts) do %>  
  <%= javascript_include_tag('jquery.calendarSelect') %>
  <%= javascript_include_tag('editPage') %>
<% end %>

<div id="content">
  <% if flash[:new_event] %>
    <div id="newEvent" title="Welcome to Schedule Butler!">
      <div class="description">
        Congratulations, welcome to Schedule Butler!  You have just created a new event.
        To let your friends know about your event, all you have to do is send them an email
        with a link to the sign up page for your event.  This is provided for you below.
        If you want to come back to edit your own best times, just bookmark this page.
      </div>
      <div class="links">
        <p>Send your friends this url:</p>
        <div class="newEventUrl"><%= event_url(@event) %></div>
        <p>Bookmark this url for yourself:</p>
        <div class="newTimeTableUrl"><%= event_time_table_url(@event, @time_table) %></div>      
      </div>
    </div>
  <% end %>
  <h3><%= @event.title %></h3>
  <h4>for <%= @time_table.email %></h4>
  <div id="calendarSelect"></div>
  <%= hidden_field_tag :availability, @event.availability.to_json %>
  <%= hidden_field_tag :max_attendance, @event.max_attendance.to_json %>
  <%= form_for([@event, @time_table]) do |f| %>
  <%= f.hidden_field :times, :value => @times %>
    <div class="actions">
      <% unless notice.blank? %>
        <div id="notice"><%= notice %></div>
      <% end %>
      <%= f.submit %>
    </div>
  <% end %>
</div>
