<% content_for(:javascripts) do %>  
  <%= javascript_include_tag('jquery.calendarSelect') %>
  <%= javascript_include_tag('editPage') %>
<% end %>

<div id="content">
  <h3><%= @event.title %></h3>
  <h4>for <%= @time_table.email %></h4>
  <div id="calendarSelect"></div>
  <%= hidden_field_tag :availability, @event.availability.to_json %>
  <%= hidden_field_tag :max_attendance, @event.max_attendance.to_json %>
  <%= form_for([@event, @time_table]) do |f| %>
  <%= f.hidden_field :times, :value => @times %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<%= render :partial => 'new_event_dialog' if flash[:new_event] %>
<%= render :partial => 'new_time_table_dialog' if flash[:new_time_table] %>
