<%= form_for(@event) do |f| %>
  <div class="field">
    <%= f.label :email, "Please enter your email address" %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :title, "Enter a short description of your event" %>
    <%= f.text_field :title %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
