<% content_for :javascripts do %>
  <%= javascript_include_tag 'jquery.calendarSelect', 'showPage' %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'what_is' %>
<% end %>

<% content_for :footer do %>
  <div id="preview">
    <hr />
    <div id="calendarSelect" class="static"></div>
  </div>
  <a href="#" id="showPreview">Show currently scheduled best times</a>
<% end %>

<div id="newTimeTable">
  <h3><%= @event.title %></h3>
  <h4>by <%= @event.email %></h4>
  <%= render 'time_tables/form' %>
  <%= hidden_field_tag :availability, @event.availability.to_json %>
  <%= hidden_field_tag :max_attendance, @event.max_attendance.to_json %>
</div>
