<!DOCTYPE html>
<html>
<head>
  <title>Schedule Butler</title>
  <script type="text/javascript" src="http://use.typekit.com/tcd3aid.js"></script>
  <%= javascript_include_tag 'loadTypekit' %>
  
  <%= stylesheet_link_tag :all %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <h1>Schedule Butler</h1>
    <h2>It's like having a butler to help you schedule</h2>
  </div>
  <div id="bodyContent">
    <%= yield %>
  </div>
  <%= javascript_include_tag 'jquery-1.4.2', 'jquery-ui-1.8.2.custom.min', 'rails', 'scheduleButler', 'jquery.tipTip.minified' %>
  <%= yield :javascripts %>
</body>
</html>
